* {
  margin: 0;
  padding: 0;
}

.App h1 {
  text-align: center;
  font-size: 70px;
  background: #ffe91f;
  background: linear-gradient(to right, #ffe91f 40%, #57ddc0 50%, #1b63e0 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todoList {
  width: 500px;
  margin: auto;
}

.todoForm {
  text-align: center;
  position: relative;
  margin: 20px;
}

.todoForm input[type=submit] {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 5px;
  border: 0;
  background-color: transparent;
}

.todoForm input[type="text"] {
  border-radius: 20px;
  width: 100%;
  padding: 10px 0px 10px 10px;
  border: 0;
  box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 1);
}

.todos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 0px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.todo input {
  margin-right: 20px;
}

.todo button {
  border-radius: 50%;
  padding: 15px 5px;
  cursor: pointer;
  border: 0;
}

.todos ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
}

.todos ul li {
  list-style-type: none;
  margin: 0px 20px;
}

.todo .done {
  text-decoration: line-through;
  font-style: italic;
  color: grey;
}

@media only screen and (max-width: 600px) {
  .TodoList {
    width: 100vw;
  }
}
